<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{bootstrap.load_css()}}
</head>
<body>
    <div class="container-sm">
        <div id="picSlides" class = "carousel slide" data-bs-ride = "carousel">
            <div class = "carousel-inner">
                <div class = "carousel-item active">
                    <img src = "{{firstPic}}" class="d-block w-100" alt="firstpic">
                </div>
                {% for pic in pictures %}
                <div class = "carousel-item">
                    <img src = "{{pic}}" class="d-block w-100"  alt="pics" >
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#picSlides" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#picSlides" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <p>{{park}}</p>
    <p>{{parkDesc}}</p>

    {{bootstrap.load_js()}}
</body>
</html>